.container-5 {
  border: 1px solid black;
  width: 75%;
  margin: 0px auto;
  text-align: center;
  background: url("/static/img/background.jpg");
  background-size: cover;
  color: white;
}

.flexbox-blackjack-row-1,
.flexbox-blackjack-row-2,
.flexbox-blackjack-row-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
}

.flexbox-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  flex: 1;
  height: 350px;
}

#blackjack-img-you,
#blackjack-img-dealer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexbox-blackjack-row-2 button {
  border: 1px solid black;
  margin: 5px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}
